*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

nav{
    width: 100%;
    height: 70px;
    padding: 0 10%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
}

nav ul li{
    font-size: 22px;
    font-weight: 800;
}